{% extends "AppBundle:layout:layout.html.twig" %}

{% block header %}
    <li>
        <a href="{{ path('news_home') }}">Home</a>
    </li>
    <li class="active">
        <a href="{{ path('news_home') }}">Info</a>
    </li>
{% endblock %}

{% block mainContent %}
	<a class="btn btn-default btn-large" href="{{ path('news_home') }}">Back to news home page</a>
	{% block extendMsg %}
		<p>{{ message }}</p>
	{% endblock %}
{% endblock %}