{% extends "CodingGuysCMSBundle:PostReport:layout.html.twig" %}

{% block mainContent %}
    <p>{{ count }}</p>
    <table>
        {% for pr in postForReview %}
            <tr><td>{{ pr.rankPosition }}</td><td>-</td>
                <td>{{ pr.post.finalScore }}</td>
                </tr>
        {% endfor %}
    </table>

{% endblock %}